# Add your admin pubkeys (Ethereum address, Nostr npub/hex, etc.)
# For example:
# ADMINS="0x123456789abc,npub123456789abc,abcdef12345"
ADMINS=""

# Enter random database password, recommended minimum is 32 chars.
# Note: you don't need to remember or backup this password, just keep it here.
POSTGRES_PASSWORD="type_many_random_chars_here_you_do_not_need_to_remember_them"

API_URL=""
HOST_PORT="33333"
COMPOSE_PROJECT_NAME=""
